.reservations {
  margin-top: 3rem;

  &__clear-btn {
    margin-top: 1rem;
  }

  &__single-entry {
    margin: 1rem 0;
  }

  &__remove-btn {
    margin-left: 1rem;
    padding-top: 2px;
    height: 28px;
  }
  &__error {
    color: red;
  }
}
